<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../lib/iconfont/iconfont.css">
    <link rel="stylesheet/less" href="../less/login.less">
</head>
<body>
    <div class="panel panel-default">
        <div class="head-img">
            <img src="../images/1.jpg"  alt="">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">
                <i class="iconfont icon-yonghu"></i>
            </span>
            <input type="text" class="form-control" placeholder="Username" id="username">
        </div>
        <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                    <i class="iconfont icon-mima1"></i>
                </span>
                <input type="text" class="form-control" placeholder="Password" id="password">
        </div>
        <button type="button" class="btn btn-primary" id="login">登录</button>
    </div>
    <script src="../lib/jquery.js"></script>
    <script src="../lib/less/less.js"></script>
    <script src="../script/login.js"></script>
</body>
</html>